.Picker {
    background: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Text {
    font-size: 20px;
}

.Shapes {
    display: flex;
}

.Box {
    display: inline-block;
    background: white;
    color: black;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    width: 60px;
    height: 60px;
    border-radius: 5px;
}

.Halo {
    border: solid white 5px;
    padding: 15px;
}

.Distance {
    padding: 20px;
}

.Separator {
    display: inline-block;
    width: 200px;
    font-size: 30px;
    padding-top: 26px;
}